<div class="container container-240">
            
    <div class="checkout wishlist">
        

        <div class="shopping-cart v2">
            <div class="cmt-title text-center abs">
                
                <div class="w-empty">
                    <p>{{ 'cart.general.empty' | t }}</p>
                    <a href="/collections/all" class="btn-back uppercase lt-2">{{ 'cart.general.return' | t }}<i class="ion-ios-arrow-forward"></i></a>
                </div>
            </div>
            
        </div>
    </div>
</div>