<div class="pushmenu menu-home5 box-mobile-menu">
        <div class="menu-push box-mobile-menu-inner">
            <a href="#" class="close-menu-mobile"><span class="">Close</span></a>
            <div class="tab-content">
                <div id="home" class="mn-mobile-content-tab tab-pane fade in active">
                    <div class="mobile-back-nav-wrap"> 
                        <a href="#" id="back-menu" class="back-menu">
                            <i class="pe-7s-angle-left"></i>
                        </a> 
                        <span class="box-title">Home</span></div>
                    {% include 'ciloe-horizon-menu-mobile' %}
                </div>
                {% include 'ciloe-login-mobile' %}
            </div>
            <div class="box-tabs-nav-wrap">
                <ul class="tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">
                            <div  class="ciloe-icon-menu">
                                <span class="ciloe-iconbar"></span>
                            </div>
                            <span class="nav-text">Menu</span>
                        </a>
                    </li>
                    <li><a data-toggle="tab" href="#menu1"><i class="zoa-icon-user"></i><span class="nav-text">Login</span></a></li>
                </ul>
            </div>
        </div>
    </div>