<div class="grid-item col-xs-12 col-sm-6 col-md-3 ">
  <div class="product-img">
    <a href="/admin/products" class="hover-images effect"><img src="https://placehold.it/431x560" alt="photo" class="img-reponsive"></a>
    <div class="product-info overlay-img ver2 box-center">
      <h3 class="product-title"><a href="/admin/products">ShopiLaunch Product</a></h3>
      <a href="/admin/products" class="btn-quickview"><i class="icon-eye f-20"></i></a>
    </div>
    <div class="ribbon-price ver2"><span>£240</span></div>
  </div>
</div>
<div class="grid-item col-xs-12 col-sm-6 col-md-3 ">
  <div class="product-img">
    <a href="/admin/products" class="hover-images effect"><img src="https://placehold.it/431x560" alt="photo" class="img-reponsive"></a>
    <div class="product-info overlay-img ver2 box-center">
      <h3 class="product-title"><a href="/admin/products">ShopiLaunch Product</a></h3>
      <a href="/admin/products" class="btn-quickview"><i class="icon-eye f-20"></i></a>
    </div>
    <div class="ribbon-price ver2"><span>£240</span></div>
  </div>
</div>
<div class="grid-item col-xs-12 col-sm-6 ">
  <div class="product-img">
    <a href="/admin/products" class="hover-images effect"><img src="https://placehold.it/893x1149" alt="photo" class="img-reponsive"></a>
    <div class="product-info overlay-img ver2 box-center">
      <h3 class="product-title"><a href="/admin/products">ShopiLaunch Product</a></h3>
      <a href="/admin/products" class="btn-quickview"><i class="icon-eye f-20"></i></a>
    </div>
    <div class="ribbon-price ver2"><span>£240</span></div>
  </div>
</div>
<div class="grid-item col-xs-12 col-sm-6">
  <div class="product-img">
    <a href="/admin/products" class="hover-images effect"><img src="https://placehold.it/893x1149" alt="photo" class="img-reponsive"></a>
    <div class="product-info overlay-img ver2 box-center">
      <h3 class="product-title"><a href="/admin/products">ShopiLaunch Product</a></h3>
      <a href="/admin/products" class="btn-quickview"><i class="icon-eye f-20"></i></a>
    </div>
    <div class="ribbon-price ver2"><span>£240</span></div>
  </div>
</div>
<div class="grid-item col-xs-12 col-sm-6 col-md-3">
  <div class="product-img">
    <a href="/admin/products" class="hover-images effect"><img src="https://placehold.it/431x560" alt="photo" class="img-reponsive"></a>
    <div class="product-info overlay-img ver2 box-center">
      <h3 class="product-title"><a href="/admin/products">ShopiLaunch Product</a></h3>
      <a href="/admin/products" class="btn-quickview"><i class="icon-eye f-20"></i></a>
    </div>
    <div class="ribbon-price ver2"><span>£240</span></div>
  </div>
</div>
<div class="grid-item col-xs-12 col-sm-6 col-md-3">
  <div class="product-img">
    <a href="/admin/products" class="hover-images effect"><img src="https://placehold.it/431x560" alt="photo" class="img-reponsive"></a>
    <div class="product-info overlay-img ver2 box-center">
      <h3 class="product-title"><a href="/admin/products">ShopiLaunch Product</a></h3>
      <a href="/admin/products" class="btn-quickview"><i class="icon-eye f-20"></i></a>
    </div>
    <div class="ribbon-price ver2"><span>£240</span></div>
  </div>
</div>