{% for i in (1..3) %}
<div class="blog-post-item-v2">
  <div class="blog-post-item item-grid">
    <a class="hover-images" href="">
      <img src="{{'homesimpleblog_1.jpg'| asset_url }}" class="img-reponsive" alt="blog-img">
    </a>

    <div class="blog-post-info space-v2">
      <div class="post-date">
        <span class="date">22</span>
        <span class="month">FEB</span>
      </div>
      <div class="post-info">
        <h3 class="post-name"><a href="#">Here’s everything you need to know about the Brit Awards 2017</a></h3>
        <a href="#" class="blog-readmore">Read more</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}