{% comment %} Width of results box {% endcomment %}
{% assign results_box_width = '242px' %}
{% comment %} Background color of results box {% endcomment %}
{% assign results_box_background_color = '#ffffff' %}
{% comment %} Border color of results box {% endcomment %}
{% assign results_box_border_color = '#d4d4d4' %}

<script>
$(function() {
  // Current Ajax request.
  var currentAjaxRequest = null;
  // Grabbing all search forms on the page, and adding a .search-results list to each.
  var searchForms = $('form[action="/search"]').css('position','relative').each(function() {
    // Grabbing text input.
    var input = $(this).find('input[name="q"]');
    // Adding a list for showing search results.
//     var offSet = input.position().top + input.innerHeight();
    $('<ul class="search-results"></ul>').css( { 'position': 'absolute', 'top': '100%','margin-top': '18px' } ).appendTo($(this)).hide();    
    // Listening to keyup and change on the text field within these search forms.
    input.attr('autocomplete', 'off').bind('keyup change', function() {
      // What's the search term?
      var term = $(this).val();
      // What's the search form?
      var form = $(this).closest('form');
      // What's the search URL?
      var searchURL = '/search?type=product&q=' + term;
      // What's the search results list?
      var resultsList = form.find('.search-results');
      // If that's a new term and it contains at least 3 characters.
      if (term.length > 1) {
        // Saving old query.
        $(this).attr('data-old-term', term);
        // Killing any Ajax request that's currently being processed.
        if (currentAjaxRequest != null) currentAjaxRequest.abort();
        // Pulling results.
        currentAjaxRequest = $.getJSON(searchURL + '&view=json', function(data) {
          // Reset results.
          resultsList.empty();
          // If we have no results.
          if(data.results == 0) {
            resultsList.html('<li><span class="title">No result found for your search.</span></li>');
            resultsList.fadeIn(200);
          } else {
            // If we have results.
            $.each(data.results, function(index, item) {
              var link = $('<a class="flex align-center"></a>').attr('href', item.url);
              link.append('<div class="product-img"><img src="' + item.thumbnail + '" /></div>');
              link.append('<h3 class="product-title">' + item.title + '</h3>');
              link.wrap('<li></li>');
              resultsList.append(link.parent());
            });
            // The Ajax request will return at the most 10 results.
            // If there are more than 10, let's link to the search results page.
            if(data.results_count > 10) {
              resultsList.append('<li><span class="title"><a href="' + searchURL + '">See all results (' + data.results_count + ')</a></span></li>');
            }
            resultsList.fadeIn(200);
          }        
        });
      }
    });
  });
  // Clicking outside makes the results disappear.
  $('body').bind('click', function(){
    $('.search-results').hide();
  });
});
</script>

<!-- Some styles to get you started. -->
<style>
  .bd-3{
  border-radius:3px;
  }
.search-results {
  
  z-index: 8889;
  list-style-type: none;   
  width: {{ results_box_width }};
  margin: 0;
  padding: 0;
  background: {{ results_box_background_color }};
  
  
  
  -webkit-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    min-width: 342px;
    border: 1px solid #ebebeb;
    padding-bottom: 4px;
    padding-top: 1px;
}
  .search-results:after{
  	content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: 30px;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
.search-results li {
  display: block;
  width: 100%;
  
  margin: 0;
  padding: 12px 18px;
  border-top: 1px solid #f0f0f0;
  
  overflow: hidden;
}
.search-results li:first-child {
  border-top: none;
}
.search-results .product-title {
  
  white-space: nowrap;
  overflow: hidden;
  /* The text-overflow property is supported in all major browsers. */
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: left;
  padding-left: 18px;
  
}
.search-results .product-img img {
  border-radius:3px;
  border:1px solid #f0f0f0;
}
</style>