{% include 'ciloe-banner' %}
<div class="container container-240">
    <div class="e-cat">
        <div class="section-cate space-padding-tb-50">
            <h3 class="e-title text-center">{{section.settings.title}}</h3>
            <div class="owl-carousel owl-theme owl-cate js-owl-cate">
                {% for collection in collections %}
                  {% include 'collection-grid-item'%}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "List collections",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "image_picker",
      "id": "img_banner",
      "label": "Image banner",
      "info": "1398x316px recommended"
    },
    {
      "id": "url_banner",
      "type": "url",
      "default": "/collections/all",
      "label": "Banner link"
    },
    {
      "type": "header",
      "content": "Text Banner"
    },
	{
      "type": "select",
        "id": "local_text",
        "label": "Position Text",
        "default": "center",
        "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "title_page",
      "label": "Title page",
      "default": "Collections"
    },
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Ciloe Collection Categories"
      }
  ]
  }
{% endschema %}
