{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}



{% include 'product-detail-template-classic' %}

{% if section.settings.enable_promo_pd %}
	{% include 'ciloe-promo-pd' %}
{% endif %}
{% comment %}
To take advantage of a callback on the select dropdown, add option_selection.js
and customize the JS in timber.productPage as needed.

Currently, timber.productPage does the following:
- Hides your <select> tag from above
- Breaks out the product variants into separate product options, if more than one exists
- Generates a <select> tag for each product option
- Enables/disables elements based on variant availability

Callback notes:
- Keep the callback available to the global scope (window.selectCallback) so that advanced
addons can override it.
* E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>

  var selectCallback = function(variant, selector) {
    // BEGIN SWATCHES
    if (variant) {
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
    }
    // END SWATCHES
    
    {% if section.settings.show_sku %}
    if (variant) {
      $('.engoj-variant-sku').text(variant.sku);
    }
    else {
      $('.engoj-variant-sku').empty();
    }
    {% endif %}

    var quantity = 1,
        totalPrice;
    if (variant) {
      if (variant.available) {
        // Selected a valid variant that is available.
        $('#AddToCart').removeClass('disabled').removeAttr('disabled').val('Add To Cart').fadeTo(200,1);
        $('#AddToCart span').html('Add To Cart');
      } else {
        // Variant is sold out.
        $('#AddToCart').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
        $('#AddToCart span').html('Sold Out');
      }
      quantity = parseInt($('#Quantity').val(), 10);
      totalPrice = variant.price * quantity;

      if ( variant.compare_at_price > variant.price ) {
          $('.enj-product-price').html('</span><span class="price engoj_price_main f-24">'+Shopify.formatMoney(variant.price, window.money_format)+ '</span>'+'<span class="price old">'+ Shopify.formatMoney(variant.compare_at_price, window.money_format) );
        } else {
          $('.enj-product-price').html('<span class="price engoj_price_main">'+ Shopify.formatMoney(variant.price, window.money_format) + '</span>');
        }


    } else {
      // variant doesn't exist.
      $('#AddToCart').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
    }

    /*begin variant image*/
    if (variant && variant.featured_image) {
      var originalImage = jQuery(".slick-active .engoj_img_main");
      var newImage = variant.featured_image;
      var element = originalImage[0];
      Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
        var $el = $(element);
        $el.attr('src', newImageSizedSrc);
        $(".engoj_img_variant:eq(0)").trigger('click');
      });        
    }
    /*end of variant image*/
  }

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}');
    $('.selector-wrapper:eq(0)').append('<span class="select-arrow-down">▼</span>');

    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
    {% endif %}


    $('.selector-wrapper').on('mousedown', function(){
      if(!$('.select-arrow-down').hasClass('transform-rotate-180deg')){
        $('.select-arrow-down').toggleClass('transform-rotate-180deg');
      }
    });
    $('.selector-wrapper').mouseleave(function(){
        $('.select-arrow-down').removeClass('transform-rotate-180deg');
    });





  });

</script>
  
{% schema %}
{
  "name": "Product detail page",
  "settings": [
	{
      "type": "header",
      "content": "Background"
    },
	{
      "type": "color",
      "id": "bg_big_image",
      "label": "Background product",
      "default": "#f9f9f9"
    },

    {
      "type": "checkbox",
      "id": "show_rating",
      "label": "Show rating star",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show Vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tag",
      "label": "Show tags",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "show_checkout",
      "label": "Show button checkout",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sdes",
      "label": "Show summary description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_quantity",
      "label": "Show quantity box",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "show_label",
      "label": "Show label",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "show_360",
      "label": "Show 360",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "enable_promo_pd",
      "label": "Show promo product",
      "default": true
    },
	{
      "type": "header",
      "content": "size guide"
    },
	{
      "type": "checkbox",
      "id": "enable_size_guide",
      "label": "Show Size guide",
      "default": true
    },
	{
      "type": "image_picker",
      "id": "img_size_men",
      "label": "Image size men"
    },
	{
      "type": "image_picker",
      "id": "img_size_women",
      "label": "Image size women"
    },
	{
      "type": "header",
      "content": "Highlight Text"
    },
    {
      "type": "text",
      "id": "content_highlight_1",
      "label": "Content 1",
      "default": "In stock"
    },
	{
      "type": "text",
      "id": "content_highlight_2",
      "label": "Content 2",
      "default": "Free delivery available"
    },
	{
      "type": "text",
      "id": "content_highlight_3",
      "label": "Content 3",
      "default": "Sales 30% Off Use Code: MOTIVE30"
    },
	{
      "type": "header",
      "content": "Button checkout"
    },
	{
      "type": "url",
      "id": "page_url",
      "label": "URL condition"
    },
    {
      "type": "header",
      "content": "Product Tabs"
    },
    {
      "type": "checkbox",
      "id": "enable_alltab",
      "label": "Enable All Tab?",
      "default": true
    },
    
    {
      "type": "header",
      "content": "Description Tab"
    },
    {
      "type": "checkbox",
      "id": "enable_description_tab",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "text",
      "id": "destab_title",
      "label": "Title",
      "default": "Description"
    },
	{
      "type": "select",
      "id": "custom_tab_des",
      "options": [
        {
          "value": "default",
          "label": "Option 1: Description default"
        },
        {
          "value": "pin",
          "label": "Option 2: Pinmapper"
        },
        {
          "value": "page",
          "label": "Option 3: Content"
        }
      ],
      "label": "Select Custom Tab Description",
      "default": "page"
    },
	
    {
      "type": "header",
      "content": "Custom Tab"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_tab",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "text",
      "id": "customtab_title",
      "label": "Title",
      "default": "Additional Information"
    },
    {
      "type": "select",
      "id": "custom_tab_option",
      "options": [
        {
          "value": "ct_ops_image",
          "label": "Option 1: Image"
        },
        {
          "value": "ct_ops_html",
          "label": "Option 2: HTML Code"
        },
        {
          "value": "ct_ops_page",
          "label": "Option 3: Page Content"
        }
      ],
      "label": "Select Custom Tab Option",
      "default": "ct_ops_html"
    },
    {
      "type": "image_picker",
      "id": "ct_option_1",
      "label": "Option 1 Image"
    },
    {
      "type": "textarea",
      "id": "ct_option_2",
      "label": "Option 2 HTML code"
    },
    {
      "type": "page",
      "id": "ct_option_3",
      "label": "Option 3 Page Content"
    },
    {
      "type": "header",
      "content": "Review Tab"
    },
    {
      "type": "checkbox",
      "id": "enable_review_tab",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "After enabling reviews you will need to install the free [Shopify Product Reviews](https:\/\/apps.shopify.com\/product-reviews) app."
    },
    {
      "type": "text",
      "id": "reviewtab_title",
      "label": "Title",
      "default": "Review"
    },

	{
      "type": "header",
      "content": "Pinmapper"
    },
	{
          "type": "text",
          "id": "title_pin",
          "label": "Title",
          "default": "Pin any products so easy"
    },
	{
          "type": "textarea",
          "id": "des_pin_1",
          "label": "Description line 1",
          "default": "Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut a nisl id ante tempus hendrerit. "
    },
	{
          "type": "image_picker",
          "id": "img_pin",
          "label": "Image Big"
    },
	{
      "type": "header",
      "content": "Button Pinmapper 1"
    },
	{
      "type": "checkbox",
      "id": "enable_btn_1",
      "label": "Enable?",
      "default": false
    },
	{
          "type": "image_picker",
          "id": "img_btn_popup_1",
          "label": "Image Button 1"
    },
	{
      "type": "url",
      "id": "url_1",
      "label": "URL",
      "default": "/collections/all"
    },
	{
          "type": "range",
          "id": "top_1",
          "label": "Position top",
          "default": 0,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
          "type": "range",
          "id": "left_1",
          "label": "Position left",
          "default": 0,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
      "type": "header",
      "content": "Button Pinmapper 2"
    },
	{
      "type": "checkbox",
      "id": "enable_btn_2",
      "label": "Enable?",
      "default": false
    },
	{
          "type": "image_picker",
          "id": "img_btn_popup_2",
          "label": "Image Button 2"
    },
	{
      "type": "url",
      "id": "url_2",
      "label": "URL",
      "default": "/collections/all"
    },
	{
          "type": "range",
          "id": "top_2",
          "label": "Position top",
          "default": 10,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
          "type": "range",
          "id": "left_2",
          "label": "Position left",
          "default": 10,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
      "type": "header",
      "content": "Button Pinmapper 3"
    },
	{
      "type": "checkbox",
      "id": "enable_btn_3",
      "label": "Enable?",
      "default": false
    },
	{
          "type": "image_picker",
          "id": "img_btn_popup_3",
          "label": "Image Button 3"
    },
	{
      "type": "url",
      "id": "url_3",
      "label": "URL",
      "default": "/collections/all"
    },
	{
          "type": "range",
          "id": "top_3",
          "label": "Position top",
          "default": 30,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
          "type": "range",
          "id": "left_3",
          "label": "Position left",
          "default": 30,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
      "type": "header",
      "content": "Button Pinmapper 4"
    },
	{
      "type": "checkbox",
      "id": "enable_btn_4",
      "label": "Enable?",
      "default": false
    },
	{
          "type": "image_picker",
          "id": "img_btn_popup_4",
          "label": "Image Button 4"
    },
	{
      "type": "url",
      "id": "url_4",
      "label": "URL",
      "default": "/collections/all"
    },
	{
          "type": "range",
          "id": "top_4",
          "label": "Position top",
          "default": 40,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
          "type": "range",
          "id": "left_4",
          "label": "Position left",
          "default": 40,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
      "type": "header",
      "content": "Button Pinmapper 5"
    },
	{
      "type": "checkbox",
      "id": "enable_btn_5",
      "label": "Enable?",
      "default": false
    },
	{
          "type": "image_picker",
          "id": "img_btn_popup_5",
          "label": "Image Button 5"
    },
	{
      "type": "url",
      "id": "url_5",
      "label": "URL",
      "default": "/collections/all"
    },
	{
          "type": "range",
          "id": "top_5",
          "label": "Position top",
          "default": 50,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
          "type": "range",
          "id": "left_5",
          "label": "Position left",
          "default": 50,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
      "type": "header",
      "content": "Button Pinmapper 6"
    },
	{
      "type": "checkbox",
      "id": "enable_btn_6",
      "label": "Enable?",
      "default": false
    },
	{
          "type": "image_picker",
          "id": "img_btn_popup_6",
          "label": "Image Button 6"
    },
	{
      "type": "url",
      "id": "url_6",
      "label": "URL",
      "default": "/collections/all"
    },
	{
          "type": "range",
          "id": "top_6",
          "label": "Position top",
          "default": 60,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
          "type": "range",
          "id": "left_6",
          "label": "Position left",
          "default": 60,
          "min": 0,
          "max": 100,
          "unit": "%"
    },
	{
      "type": "header",
      "content": "Comment"
    },
	{
      "type": "text",
      "id": "cmt_title",
      "label": "Title",
      "default": "Rate & Review"
    },
	{
      "type": "header",
      "content": "Product Related"
    },
    {
      "type": "checkbox",
      "id": "show_product_related",
      "label": "Show product related",
      "default": true
    },
	{
          "type": "text",
          "id": "srdp_title",
          "label": "Title",
          "default": "Related Products"
    }
  ],
  "blocks": [
    
    {
      "type": "section_related_product",
      "name": "Section Related Product",
      "limit": 1,
      "settings": [
     
        
        {
          "type": "text",
          "id": "srdp_limitnumber",
          "label": "Number of products",
          "default": "12"
        }
      ]
    },
	{
      "type": "section_service_box",
      "name": "Section Service Box",
      "limit": 3,
      "settings": [
		{
          "type": "image_picker",
          "id": "servicebox_img",
          "label": "Image",
			"info": "50x50px recommended"
        },
        {
          "type": "text",
          "id": "servicebox_title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "servicebox_desc",
          "label": "Content",
			"default": "Content"
        }
      ]
    },
	{
      "type": "faqblock",
      "name": "FAQ block",
      "settings": [
		{
          "type": "text",
          "id": "faq_icon1",
          "label": "Icon",
          "default": "Q"
        },
        {
          "type": "text",
          "id": "faq_title",
          "label": "Title",
          "default": "Does the sonos one pair up with a sonos play1 as a stereo pair ?"
        },
		{
          "type": "text",
          "id": "faq_icon2",
          "label": "Icon",
          "default": "Q"
        },
        {
          "type": "textarea",
          "id": "faq_content",
          "label": "Content",
          "default": "As long as the players are grouped in a configuration to your liking, you can ask Alexa on the Sonos One or on an echo device to start music and playback will begin across the Sonos grouping. "
        }
      ]
    },
	{
      "type": "faqblock2",
      "name": "FAQ block 2",
      "settings": [
		{
          "type": "text",
          "id": "faq_icon3",
          "label": "Icon",
          "default": "Q"
        },
        {
          "type": "text",
          "id": "faq_title2",
          "label": "Title",
          "default": "Does the sonos one pair up with a sonos play1 as a stereo pair ?"
        },
		{
          "type": "text",
          "id": "faq_icon4",
          "label": "Icon",
          "default": "Q"
        },
        {
          "type": "textarea",
          "id": "faq_content2",
          "label": "Content",
          "default": "As long as the players are grouped in a configuration to your liking, you can ask Alexa on the Sonos One or on an echo device to start music and playback will begin across the Sonos grouping. "
        }
      ]
    },
	{
      "type": "sidebarproduct",
      "name": "Sidebar Product",
      "limit": 3,
      "settings": [
          {
            "type": "header",
            "content": "List Products"
          },
          {
            "type": "collection",
            "id": "product_collection",
            "label": "Select collection"
          },
          {
            "type": "text",
            "id": "product_limit",
            "label": "Limit number",
            "default": "5"
          }
      ]
    }
  ],
  "default": {
    "blocks": [
      
      {
        "type": "section_related_product"
      }
      
    ]
  }
}
{% endschema %}