<div class="page-custom__container">
    <div class="page-custom__title">
        <h1>{{page.title}}</h1>
    </div>

    <div class="page-custom__body">
        {{page.content}}
    </div>
</div>
<style>
    .page-custom__container{
        max-width: 65ch;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .page-custom__title{
        text-align: center;
        padding: 0 0 20px 0;
    }
    .page-custom__body h2{
        padding-bottom: 6px;
        font-size: 28px;
    }
    .page-custom__body h3{
        padding-bottom: 6px;
    }


</style>